body {
  margin: 0;
}

header {
  background-color: #f3f2f3;
  border-bottom: 1px solid #cacaca;
}

.logo {
  width: 296px;
  height: 48px;
  background-image: url("../pictures/logo.png");
}

main > *,
header > * {
  width: 1140px;
  margin: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
}

.btn-standard {
  background-color: #43b472;
  height: 35px;
  line-height: 0px;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

nav,
.category-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 75px;
}

nav > .btn-standard {
  padding: 0px 24px;
}

.card {
  background-color: #f3f2f3;
  width: 200px;
  -webkit-box-shadow: 0 0 0 1px #cacaca;
          box-shadow: 0 0 0 1px #cacaca;
  margin-top: 30px;
}

.picture {
  height: 200px;
}

img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.buttons > .btn-standard {
  float: left;
  width: 50%;
}

.buttons > .btn-standard:first-child {
  -webkit-box-shadow: inset -1px 0 0 #cacaca;
          box-shadow: inset -1px 0 0 #cacaca;
}
/*# sourceMappingURL=style.css.map */