$border-color: #cacaca
$background-color: #f3f2f3
$btn-color: #43b472
body 
    margin: 0

header
    background-color: $background-color
    border-bottom: 1px solid $border-color

.logo
    width: 296px
    height: 48px
    background-image: url("../pictures/logo.png")

main > *,
header > *
    width: 1140px
    margin: auto

button 
    background: none
    border: none
    padding: 0
    font: inherit
    cursor: pointer
    outline: inherit
    display: block

.btn-standard
    background-color: $btn-color
    height: 35px
    line-height: 0px
    text-transform: uppercase
    color: white
    font-family: sans-serif
    font-size: 1em
    text-align: center


nav, 
.category-cards
    display: flex
    justify-content: space-between
    flex-wrap: wrap

nav 
    align-items: center
    position: relative
    height: 75px
    > .btn-standard
        padding: 0px 24px

.card
    background-color: $background-color
    width: 200px
    box-shadow: 0 0 0 1px $border-color
    margin-top: 30px

.picture
    height: 200px

img 
    max-height: 100%
    max-width: 100%
    margin: auto
    position: relative
    top: 50%
    transform: translateY(-50%)

.buttons > .btn-standard
    float: left
    width: 50%


.buttons > .btn-standard:first-child
    box-shadow: inset -1px 0 0 $border-color
